/*
globl config 全局配置
Created by Echonessy on 2019/4/23.
*/


$defaultColor:#33CB3E;
//颜色定义规范
$com-color-theme:#ff5811; //主题颜色默认
$com-color-theme1:#0FBBED;
$com-color-theme2:#A60FED;
$com-color-theme3:#ED0F1C;
$com-color-theme4:#0F32ED;
$com-color-theme5:#33CB3E;


//背景颜色主题
$background-color-theme:#ff5811;//默认
$background-color-theme1:#0FBBED;
$background-color-theme2:#A60FED;
$background-color-theme3:#ED0F1C;
$background-color-theme4:#0F32ED;
$background-color-theme5:#33CB3E;

//字体颜色主题
$font-color-theme:#ff5811;//默认
$font-color-theme1:#0FBBED;
$font-color-theme2:#A60FED;
$font-color-theme3:#ED0F1C;
$font-color-theme4:#0F32ED;
$font-color-theme5:#33CB3E;
